.headElementContainer{
    display: flex;
    align-items: center;
    position: relative;
}
.centerAligned .headElementContainer{
    justify-content: center;
}
.leftAligned .headElementContainer {
    justify-content: flex-start;
}
.rightAligned .headElementContainer {
    justify-content: flex-end;
}
.headElementContainer>p{
    margin: 0;
    width: fit-content;
    white-space: nowrap;
}
.headElementContainer>button{
    /* position: absolute;
    right: 0; */
    margin-left: 8px;
    height: 12px;
    width: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.headElementContainer>button:active{
    transform: scale(0.95);
}